* { box-sizing: border-box; }

body { background-color: #e0e0e0; }

.header { background: url("https://images.unsplash.com/photo-1508960512160-5976980f6692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center; background-size: cover; margin-bottom: 50px; }

.header h1 { text-align: center; padding: 5vw 0; margin: 0; color: white; text-shadow: 4px 5px 7px black; font-size: 4rem; }

.disabled { opacity: 0.8; }

.container { max-width: 350px; margin: 0 auto; text-align: center; }

.button { width: 80px; padding: 5px; margin-bottom: 30px; background-color: #403AA1; color: #f2f2f2; border-radius: 6px; }

.stopwatch { padding: 20px 0; margin: 0 auto; font-size: 3rem; margin-bottom: 20px; background-color: #403AA1; box-shadow: 1px 1px 4px #403AA1; color: #f2f2f2; border-radius: 6px; }

.results { list-style: none; min-height: 20vh; padding: 0; font-size: 1.5rem; margin: 10px; }

.results-wrapper { background-color: #e2e1f7; border: 1px solid #403AA1; box-shadow: 1px 1px 7px #403AA1; border-radius: 6px; }
